$primary: #2e9662;
$navbar-item-img-max-height:3rem;
$mt-1: 2.25rem;
$footer-padding:2rem;
$body-background-color:#fff;
$table-cell-padding:-1.5em 0.75em;
$table-cell-heading-color:#2e9662;
$steps-active-color:#2e9662;
$steps-active-color	:#2e9662;
$menu-item-hover-background-color:#2e9662;
$menu-item-hover-color:#ffffff ;
$menu-item-active-color:#ffffff;
$menu-item-active-background-color:#2e9662